@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color:#eae9ee;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ea9696;
    position: fixed;
    right: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
    background-color:#a3c2d7;
    height: 20%;
}

nav .logo img{
    width: 120px;
    margin: 20px 0;
    position: relative;
    right: 90%;
    cursor: pointer;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 0 10px;
}

nav ul li a{
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #be3f25;
}

nav ul li a.action{
    color: #C84B31;
}    

.banner_bg{
    width: 100%;
    height: 90vh;
    background-image:url(https://img.freepik.com/free-photo/frying-pan-with-burning-fire-inside_144627-18273.jpg);
    background-size: contain;
    background-position: center;
}

.banner_bg h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    position: relative;
    top: 50%;
    color: #fff;
}

.banner_bg h1 span{
    color:#C84B31;
    margin-right: 15px;
}

#Home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse; 
}

.main_text {
    max-width: 600px;
    text-align: left;
    padding-right: 20px;
}

.main_text h1,h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

.main_text h1 span {
    color: #C84B31;
}

.main_text h2 span {
    color: #C84B31;
}


.main_text p {
    line-height: 1.6;
    text-align: center;
}

.main_image img {
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 450px;
    margin: 15px 50px; 
         
}
img:hover{
    box-shadow: 0 20px 16px 0 rgba(0,0,0,0.2);
    transform:scale(1.04);
}

h2 {
    font-size: 44px; 
    color: #333; 
    text-align: center; 
   font-family: sans-serif;
  }
  
  h2 span {
    color: #C84B31;
  }
  
p {
    font-size: 16px; 
    line-height: 1.5; 
    color: #333; 
    margin-bottom: 20px; 
    text-align: center;
  }
  

.team{
    width: 100%;
    height: 77vh;
    padding: 10px 0;
    align-items: center;
}

.team h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}

.team h1 span{
    color: #C84B31;
    margin-left: 15px;
}

.team .team_box{
    width: 95%;
    height: auto;
    margin: 0 auto;
    position: relative;
    bottom: 55px;
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    display:flex;
    justify-content: center; /* horizontally center */
    align-items: center; 
}

.team .team_box .team_card{
    width: 300px;
    height: 410px;
    background-color: #a3c2d7;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 35px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
}

.team .team_box .team_card .team_img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .team_box .team_card .team_img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
.team .team_box .team_card .team_tag h2{
    margin: 10px 0;
}

.team .team_box .team_card .team_tag p{
    text-align: center;
    line-height: 23px;
    margin-top: 10px;
}


.about_main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.about_image img {
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 500px;
    margin: 15px;
}

.about_text {
    max-width: 600px;
    margin-left: 30px;
}

.about_text h3,h4 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #C84B31;
}
.about_text p {
    line-height: 1.5;
    text-align: center;
}



footer {
    background:#a3c2d7;
    color: black;
    padding: 30px 0;
}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 25px;
}

footer .footer_main .footer_tag p{
    margin: 10px 0;
}


.footer_tag a {
    color:black;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
}

.footer_tag a:hover {
    color: #C84B31; /* Change color on hover */
}


.button {
    background-color: #a3c2d7;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


.card{
    margin: 40px auto;
    width: 20%;
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.7);
    background-image: url();
    border-radius: 20px;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img{
    padding: 20px;
    object-fit: cover;
    object-position: center;
    
}
.card{
    margin: 40px auto;
    width: 20%;
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.7);
    background-image: url();
    border-radius: 20px;
}




.hero .contact_form{
    width: 400px;
    height: auto;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
    background-color:#a3c2d7;
}

.hero .contact_form h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.hero .contact_form h1::after{
    content: '';
    width: 20%;
    height: 3px;
    background: #C84B31;
    display: block;
    position: absolute;
    margin-top: 40px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
}

.hero .contact_form .input_box{
    width: 330px;
    margin: 0 auto;
}

.hero .contact_form .input_box .field{
    width: 100%;
    border-bottom: 1px solid #919191;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 20px;
    padding: 10px 0;
    outline: none;
    background: none;
    font-size: 15px;
    background-color: white;
}

.hero .contact_form .input_box textarea{
    height: 100px;
}

.hero .contact_form .input_box .submit_btn{
    outline: none;
    border: none;
    background: #8d76eb;
    padding: 10px 20px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 18px;
    cursor: pointer;
}

.hero .contact_form .social_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.hero .contact_form .social_icon a{
    margin: 0 10px;
}

.hero .contact_form .social_icon img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.hero .contact_form .social_icon img:hover{
    cursor: pointer;
    transition: ease-in-out 0.3s;
    transform: translateY(-5px);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.input_box {
    width: 330px;
    margin: 0 auto;
}

.field {
    width: 100%;
    border: none;
    border-bottom: 1px solid #919191;
    margin-bottom: 20px;
    padding: 10px 0;
    outline: none;
    background: white;
    font-size: 15px;
}

.check_box {
    margin: 25px 0;
    cursor: pointer;
}

.check_box p {
    position: relative;
    left: 20px;
    bottom: 40px;
    width: 50%;
    color: #434343;
}

.submit_btn {
    background: #8d76eb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.social_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
}

.social_icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    background: #C84B31;
    color: #434343;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.social_icon img:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    transform: translateY(-5px);
}

.tag {
    margin: 25px auto 0 auto;
    width: 150px;
}

.tag a {
    font-size: 15px;
    margin-left: 5px;
    color: #C84B31;
    text-decoration: none;
}
.menu-container {
    max-width: 800px;
    margin: 20px auto;
}

.menu-section {
    margin-bottom: 20px;
}

.menu-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.section-image img {
    width: 280px;
    height: 280px;
   
    display: inline-block;
    margin-left: 250px;
    border-radius: 5px;
}

.menu-item {
    margin-top: 10px;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}


